<h1>Posts#show</h1>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<p>
  <%= image_tag @post.image.url(:large) %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Log Out', logout_path, method: :delete %>
<%= link_to 'Profile', '/users' %>
